.material-icons.md-14 {
    font-size: 14px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-64 {
  font-size: 64px;
}

.no-copy {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */     
  }

  span.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  .email-domain::before {
    content: "\0040";    /* Unicode character for @ symbol */
  }

  .email-domain::after {
    content: ".";    
  }

  /* Share Buttons : Start*/

  ul.share-buttons{
    list-style: none;
    padding: 0;
  }

  .social-svg-icon {
    width: 25px; 
    height: 25px;
    padding: 1px;
  }
  
  ul.share-buttons li{
    display: inline;
    padding: 1px;
  }
  
  ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  /* Share Buttons : End */

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


  